/* --- BODY --- */
body {
    margin: 0;
    background-color: rgba(255, 153, 51, 0.7);
}

/* --- HEADER --- */
/* Sticky Header */
.Header {
    border: 1px solid black;
    background-color: rgb(250, 120, 83);
    text-align: center;
}

.Header h1 {
    margin: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .MainContent {
    padding-top: 40px;
}

/* --- GAME SECTION --- */
.GameSelection {
    margin: 10px 0 0 0;
    padding: 15px;
    height: 100px;
}

.GameSection {
    margin: 10px 0 0 0;
    border: 10px solid orange;
    padding: 5px;
    height: 800px;
}

/* --- DICE GAME --- */
.DiceGame {
    height: 100%;
}

.DiceGame .left {
    height: 100%;
    width: 70%;
    float: left;
}

.DiceGame .right {
    height: 100%;
    width: 29%;
    float: right;
}

.DiceGame .banner {
    height: 10%;
}

.DiceGame .NumberDisplayBoard {
    margin: 0 0 5px 0;
    border: 1px solid black;
    height: 49%;
}

.DiceGame .DiceBoard {
    border: 1px solid black;
    height: 39%;
}

.DiceGame .InfoPanel {
    border: 1px solid black;
    height: 99%;
}

.DiceGame .NumberDisplayBoard .col {
    width: 19.5%;
    height: 99%;
    float: left;
    border: 1px solid black;
}

.DiceGame .NumberDisplayBoard .col .NumberPanel {
    height: 40%;
}

.DiceGame .NumberDisplayBoard .col .NumberPanel img {
    width: 98%;
    height: 100%;
    display: block;
    text-align: center;
}

.DiceGame .NumberDisplayBoard .col .DicePanel {
    height: 8%;
}

.DiceGame .NumberDisplayBoard .col .DicePanel img {
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 50%;
    height: 90%;
    display: block;
}

.DiceGame .NumberDisplayBoard .col1 .NumberPanel {
    padding-top: 50%;
}