/* --- BODY --- */
body {
    margin: 0;
    background-color: rgba(255, 153, 51, 0.7);
}

/* --- HEADER --- */
/* Sticky Header */
.Header {
    border: 1px solid black;
    background-color: rgb(250, 120, 83);
    text-align: center;
}

.Header h1 {
    margin: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .MainContent {
    padding-top: 40px;
}

/* --- GAME SECTION --- */
.GameSelection {
    margin: 10px 0 0 0;
    padding: 15px;
    height: 100px;
}

.GameSection {
    margin: 10px 0 0 0;
    border: 10px solid orange;
    padding: 5px;
    height: 800px;
}

/* --- DICE GAME --- */
/* Main Containers */
.DiceGame {
    height: 100%;
}

.DiceGame .left {
    height: 100%;
    width: 70%;
    float: left;
}

.DiceGame .right {
    height: 100%;
    width: 29%;
    float: right;
}

.DiceGame .banner {
    height: 10%;
}

.DiceGame .NumberDisplayBoard {
    margin: 0 0 5px 0;
    border: 1px solid black;
    height: 49%;
}

.DiceGame .DiceBoard {
    border: 1px solid black;
    height: 39%;
}

.DiceGame .InfoPanel {
    border: 1px solid black;
    height: 99%;
}

/* Number Display Board */
.DiceGame .NumberDisplayBoard .col {
    width: 20%;
    height: 100%;
    float: left;
}

.DiceGame .NumberDisplayBoard .col .NumberPanel {
    height: 40%;
}

.DiceGame .NumberDisplayBoard .col .NumberPanel img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    height: 100%;
}

.DiceGame .NumberDisplayBoard .col1 .NumberPanel {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.DiceGame .NumberDisplayBoard .col .DicePanel {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    height: 18%;
    width: 50%;
}

.DiceGame .NumberDisplayBoard .col .DicePanel img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    height: 80%;
}